*{
	font-family: "raleway2", sans-serif;
    margin: 0;
    padding: 0;
}

.link-loja{
	color: whitesmoke;
	position: relative;
}

.link-loja::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.loja:hover .link-loja::after {
	width: 100%;
	left: 0;
}

.top-card{
	display: flex;
	justify-content: space-between;

}

.top-card img{
	width: 216.25px;
}

#card1, #card2, #card3, #card4{
	border: 1px #fff solid;
	width: 218.25px;
	height: 317.25px;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

#card1, h3, p{
	color: white;
	font-size: 20px;
}

#card2 img{
	margin-bottom: 32px;
}
#card3 img{
	margin-bottom: 32px;
}
#card4 img{
	margin-bottom: 32px;
}

.bottom-card{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

#card5, #card6, #card7, #card8{
	border: 1px #fff solid;
	width: 218.25px;
	height: 317.25px;

	display: flex;
	justify-content: center;
	flex-direction: column;
}