*{
    margin: 0;
    padding: 0;
}

.link-loja{
	color: whitesmoke;
	position: relative;
}

.link-loja::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.loja:hover .link-loja::after {
	width: 100%;
	left: 0;
}