/* .music{
    padding: 3.0rem;
    padding-right: 300px;
    background-color: rgba(14,9,9,0.74);
    display: flex;
    justify-content: center;
} */

.link-musica{
	color: whitesmoke;
	position: relative;
}

.link-musica::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.musica:hover .link-musica::after {
	width: 100%;
	left: 0;
}

.font-msc{
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4.0rem;
    color: white;
}

/* .music img{
    width: 300px;
}

.music .info{
    color: #fff;
    margin-left: 30px;
    flex: 1;
    border-style: so;
}

.music .info h2{
    font-size: 26px;
    font-weight: 700px;
}

.music .info p{
    font-size: 20px;
    margin: 10px 0 40px 0;
}

.controls{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.controls img{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
} */