@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: raleway2;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
/* section{
    
    
} */
.titulo{
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.logo-sobre{
    width: 10rem;
}
.imgs-sobre{
    display: flex;
    justify-content: center;
} 
.titulo{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.text-img{
    display: flex;
    justify-content: space-between;
}

.history{
    max-width: 350px;
    color: white;
    background-color: #00000080;
    padding: 30px;
    font-size: 15px;
    line-height: 1.4em;
    font-family: "raleway2", sans-serif;
}

.white-dj{
    width: 408px;
    height: 452px;

    border: 7px solid;

    margin-top: 15px;
}