@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: raleway2;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
/* section{
    
    
} */
.titulo{
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4.0rem;
    color: white;
}
.logo-sobre{
    width: 15.3rem;
    height: 15.8rem;
}
.imgs-sobre{
    display: flex;
    justify-content: center;
}

.text-img{
    display: flex;
    justify-content: space-between;
}

.history{
    max-width: 35.0rem;
    color: white;
    background-color: #00000080;
    padding: 3.0rem;
    font-size: 1.5rem;
    line-height: 1.4em;
    font-family: "raleway2", sans-serif;
}

.white-dj{
    width: 40.8rem;
    height: 45.2rem;

    border: 0.7rem solid;

    margin-top: 1.5rem;
}