@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: raleway2;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

body{
    background-image: url(../imgs/d3ff2f_14d8050c642c4529bd557befe22e94bf_mv2_d_3840_2160_s_2.webp);
    background-repeat:no-repeat;
    background-size:cover;
}
/* section{
    
    
} */
.titulo{

    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.imgs-sobre{
    display: flex;
    justify-content: center;
} 
.titulo{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.text-img{
    display: flex;
    justify-content: space-between;
}

.history{
    max-width: 350px;
    color: white;
    background-color: #00000080;
    padding: 30px;
    font-size: 15px;
    line-height: 1.4em;
    font-family: "raleway2", sans-serif;

    
}

.white-dj{
    width: 408px;
    height: 452px;

    border: 7px solid;

    margin-top: 15px;
}